<!doctype html>
<html>
<style>
.button{
	background-color: #008CBA;
	color: white;
	text-align: center;
	margin: 4px 2px;
	padding: 5px 64px;
	}
.button2{
	background-color: #008CBA;
	color: white;
	text-align: center;
	margin: 4px 2px;
	padding: 5px 64px;
	}
.button3{
	background-color: #008CBA;
	color: white;
	text-align: center;
	margin: 4px 2px;
	padding: 5px 64px;
	}
</style>
	<head>
		<center><font face = "Billabong" size = "16" color = "black" <title>INSTAGRAM</title></font></center>

		<link rel="stylesheet" href="/static/styles/index.css">
	</head>
			<center>
			<br>
			<button class = "button">Log in with Facebook</button>
			</br>
			<font face = "Freight Sans" size = "2" color = "gray"<h1>---------------------------OR---------------------------</h1></font>
			</center>
			
	<body>
		<form action="/signup" method="post">
			<center>
			<br>
			<label>Username: </label>
			<input type="test" name="username">
			</br>
			<br>
			<label>Password: </label>
			<input type="password" name="password">
			</br>
			
			<br>
			<button class = "button">Log In</button>
			</br>
			<br>
			<br><center><font face = "Calibri" size = "2" color = "gray" <h2>Forgot password?</h2></font></br>
			<br></br>
			<br><center><font face = "Calibri" size = "2" color = "gray" <h3>Do you have an account? Sign up</h3></font></br>
			<br></br>
			<br><center><font face = "Calibri" size = "2" color = "gray" <h4>Get the app.</h4></font></br>
			</center>
		</form>
		<IMG STYLE="position:absolute; TOP:500px; LEFT:500px; WIDTH:100px; HEIGHT:40px" SRC="appstore.png">
		<IMG STYLE="position:absolute; TOP:500px; LEFT:635px; WIDTH:100px; HEIGHT:40px" SRC="gp.png">
		<IMG STYLE="position:absolute; TOP:500px; LEFT:770px; WIDTH:100px; HEIGHT:40px" SRC="mic.png">
		<IMG STYLE="position:absolute; TOP:30px; LEFT:100px; WIDTH:400px; HEIGHT:600px" SRC="phone.png">
		
	</body>
</html>


